*{
    padding: 0%; 
    margin:0%;
   
} 
.logo{
    width:"100%";
    height:"20vh";
    background-color: black;
}  
/*          MENU      */
.menu{
    float:right;
    width:"100%";
    line-height:"80vh";
    background-color: black;
    color:aliceblue;
    margin: 30px;
    font-size: 1.05em;   
}
.menu ul{
    list-style: none;
    margin-top: -10px;
}
.menu a{
    text-decoration: none;
    color:inherit;
}
.menu li{
    padding: 7px;
    display: inline;   
}

.img{
    height: "400px";
    width:"500px";
    background-color: #fff;
    background-image: url("D:/HTML/blog/img/web.png");
    padding-left: 500px;
    margin-top: "0%";
    
}

.content{
    text-indent: 40px;
    font-size: 1.5em;
    font-family: 'Courgette', cursive;
    /* color:aliceblue; */
    color:black;
    /* background-image: url("D:/HTML/blog/img/back.png");
    background-repeat: repeat-x;   */
    /* background-color: black;   */
    
}
.content a{
    text-decoration: none;
    color:inherit;
}
 
